{% extends "bootstrap/base.html" %}
{% block title %}NMS EURO{% endblock %}

{% block head %}
{{ super() }}
{{ fontawesome_html() }}
<link rel="icon" href="{{ url_for('static', filename='images/euro.svg') }}" type="image/svg" sizes="16x16">
{% endblock %}

{% block navbar %}
<div class="container">
    <div class="row" style="padding: 10px; border-bottom: 1px solid #eee;">
        <div class="col-4 col-sm-2">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/euro.svg') }}" alt="" width="100%">
            </a>
        </div>
        <div class="col-8 col-sm-10">
            <div class="row" style="position: absolute; bottom: 0; left: 40px;width: 100%;">
                <div class="col-12 col-sm-6" style="text-align: left;">
                    <h6>/ {{ current_page }}</h6>
                </div>
            </div>
            <nav class="navbar navbar-expand-sm" style="position: absolute; top: 0; z-index: 100; width: 100%; background-color: white;">
                <button class="navbar-toggler" style="position: absolute; top: 0; right: 0; z-index: 100;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                    <ul class="navbar-nav mr-auto">
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item" style="border-right: 1px solid #eee;">
                            <a class="nav-link" href="{{ url_for('login') }}">Đăng nhập</a>
                        </li>
                        <li class="nav-item" style="border-right: 1px solid #eee;">
                            <a class="nav-link" href="{{ url_for('register') }}">Đăng ký</a>
                        </li>
                        {% endif %}
                        <li class="nav-item" style="border-right: 1px solid #eee;">
                            <a class="nav-link" href="{{ url_for('login') }}">Kết quả trận đấu</a>
                        </li>
                        <li class="nav-item" style="border-right: 1px solid #eee;">
                            <a class="nav-link" href="{{ url_for('login') }}">Kết quả bình chọn</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item" style="border-right: 1px solid #eee;">
                            <a class="nav-link" href="{{ url_for('logout') }}">Thoát</a>
                        </li>
                            <a class="nav-link"><b><i>Hi {{ current_user.email.split('@')[0] }}</i></b></a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block styles %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}