{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-12" style="border-right: 1px solid #eee;">
            {% for fixture in fixtures %}
            <div class="row" style="border-bottom: 1px solid #eee; padding: 10px 0;">
                <div class="col-4">
                    <div style="text-align: center;">
                        <div class="row" style="display: flex; justify-content: center;">
                            <div class="col-sm-6 col-12">
                                <img src="{{ fixture.home_team.logo }}" alt="" width="50%">
                            </div>
                        </div>
                        <h4><b>{{ fixture.home_team.name }}</b></h4>
                        {% if fixture.home_goal is none %}
                        <button type="button" class="btn btn-success btn-sm">Đặt cược&nbsp;<i class="fas fa-hand-holding-usd"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4">
                    <div style="text-align: center;">
                        <h5><b>{{ fixture._round.name }}</b></h5>
                        <h6 id="{{ fixture.fixture_id }}">{{ fixture.date }}</h6>
                        <script>
                            var t = new Date("{{ fixture.date }}")
                            document.getElementById("{{ fixture.fixture_id }}").innerText = t.toLocaleString()
                        </script>
                        {% if fixture.home_goal is not none %}
                        <b style="color: green;">
                            <span>{{ fixture.home_goal }}</span>
                            <span>:</span>
                            <span>{{ fixture.away_goal }}</span>
                        </b>
                        {% else %}
                        <b style="color: red;">
                            <span>0</span>
                            <span>:</span>
                            <span>0</span>
                        </b>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4">
                    <div style="text-align: center;">
                        <div class="row" style="display: flex; justify-content: center;">
                            <div class="col-sm-6 col-12">
                                <img src="{{ fixture.away_team.logo }}" alt="" width="50%">
                            </div>
                        </div>
                        <h4><b>{{ fixture.away_team.name }}</b></h4>
                        {% if fixture.home_goal is none %}
                        <button type="button" class="btn btn-success btn-sm">Đặt cược&nbsp;<i class="fas fa-hand-holding-usd"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 col-sm-12">
            <h5>Danh sách tham gia</h5>
        </div>
    </div>
    
</div>
{% endblock %}